@import '../../assets/styles/allStyle.scss';

.swap{
    position: relative;
    background: url('../../assets/image/swap/spaceSwap__bg.png') no-repeat center;
    padding: 140px 0;
    
    &__wrapper{
        display: flex;
        justify-content: space-between;
    }
}