$colorWhite: #fff;
$SectionBg: #F5F5F5;
$colorBlack: #000;
$colorAuthorText: #1C48E3;
$colorText: #828282;
$colorHeaderBtn: #060606;
$colorTitle: #383838;
$colorInContentTitle: #333333;
$colorInContentSubTitle: #474747;
$backgraoundSection: #F5F5F5;
$colorInContentText: #676767;
$colorTextBtnContent: #505050;
$colorDataPost: #9D9FA1;
$colorBgFooter: #201F24;
$colorTitleFooterText: #9A6AFF;
$colorBgFooterMeta: #16131A;
$colorBtnFooterMeta: #2A2432;
$colorSpanFooterMetaInfo: #C7CAD9;
$colorAuthBg: #1C1C1D;
$colorCross: #dc3545;
$colorCheck: #28a745;